# Ignorar pasta de build
/build/

#/examples/

# Ignorar pasta de cache de ferramentas
/.cache/

# Ignorar arquivos de comandos de compilação (gerados pelo CMake, por exemplo)
/compile_commands.json

# Arquivos temporários do sistema
*.swp
*.tmp
*.bak
*.o
*.obj
*.exe
*.out

# Arquivos de configuração
*.clangd

# Logs
*.log
