# Ignorar pasta de build
/build/

# Ignorar pasta de cache de ferramentas
/.cache/

# Ignorar arquivos de comandos de compilação (gerados pelo CMake, por exemplo)
/compile_commands.json

# Arquivos temporários do sistema
*.swp
*.tmp
*.bak
*.o
*.obj
*.exe
*.out

# Logs
*.log
